body{
    background-image: url('https://i.pinimg.com/736x/90/cc/f9/90ccf95c33145845c19663812eb994c5.jpg');
}

.btn{
    text-align: center;
}

.container{
    margin-top : 140px;
    width: 300vw;
    transition : transform 0.5s;
}

.home_img{ 
    margin-left: 1%;
    margin-top: 1%;
    mix-blend-mode: multiply; 
    background-image: url(home.png);
    background-repeat:no-repeat;
    background-color: none;
    border: none;
    height: 27px;
    width: 27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    vertical-align: center;
    cursor: pointer;
}

.inner img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.2s linear;
}
.inner:hover img {
    transform: scale(1.25);
  }
  


.inner {
    margin-left: 1%;
    width : 300px;
    float : left;

}

.inner img{
    width: 100%;
}


#btn1{
    width : 20px;
    height : 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px ;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px ;
    border : 1px;
    border-color: white;
    cursor : pointer;
    background-color: white;
}

#btn1:hover{
    background-color: rgb(66, 66, 66);
}

#btn2{
    width : 20px;
    height : 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px ;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px ;
    border : 1px;
    border-color: white;
    cursor : pointer;
    background-color: white;
}

#btn2:hover{
    background-color: rgb(66, 66, 66);
}

#btn3{
    width : 20px;
    height : 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px ;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px ;
    border : 1px;
    border-color: white;
    cursor : pointer;
    background-color: white;
}

#btn3:hover{
    background-color: rgb(66, 66, 66);
}

#btn4{
    width : 20px;
    height : 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px ;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px ;
    border : 1px;
    border-color: white;
    cursor : pointer;
    background-color: white;
}

#btn4:hover{
    background-color: rgb(66, 66, 66);
}

#btn5{
    width : 20px;
    height : 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px ;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px ;
    border : 1px;
    border-color: white;
    cursor : pointer;
    background-color: white;
}

#btn5:hover{
    background-color: rgb(66, 66, 66);
}




